# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ml-model/osm-venv/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.mypy_cache/

# ML temporary files
*.log

# Large raw datasets & heavy rasters
ml-model/data/raw/
*.tif
*.tiff

# Node
node_modules/
frontend/node_modules/
.env
.env.local

# Keep processed ML outputs
# (Do not ignore data/processed/)